@charset "UTF-8";

html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
  outline: none;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
  font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
  border: 0;
}

img {
  vertical-align: top;
}

cite, em, var, address, dfn {
  font-style: normal;
}

i {
  font-style: italic;
}

[hidefocus], summary {
  outline: 0;
}

li {
  list-style: none;
}

sup, sub {
  font-size: 83%;
}

pre, code, kbd, samp {
  font-family: inherit;
}

q:before, q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label, summary {
  cursor: default;
}

a, button {
  cursor: pointer;
}

em, strong, b {
  font-weight: bold;
}

del, ins, s, a, a:hover {
  text-decoration: none;
}

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.5 "Arial", "Hiragino Sans GB", "SimSun", \5b8b\4f53, "serif";
  color: #333;
  outline: 0;
  font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
}

input {
  vertical-align: middle;
  margin: 0;
  border: none;
  background: none;
}

h1, h2, h3, h4, h5, h6, small {
  font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
  line-height: 1.5;
  font-weight: normal;
}

body {
  background: #f5f5f5 !important;
  font-size: 12px;
  overflow-x: hidden;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.33em;
}

h4 {
  font-size: 1.17em;
}

body li {
  clear: none;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 4px;
}
